<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <a class="navbar-brand" href="index.php">SoCoding Forum</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="发起搜索...">
                <button class="btn btn-success" type="button">搜索</button>
            </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    用户
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="login.php" target="_top">登录</a>
                    <a class="dropdown-item" href="register.php" target="_top">注册</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<p></p>