<button class="btn btn-block btn-info" data-toggle="collapse" data-target="#collapsibleSideNavbar"><font color="white">板块</font></button>
<div class="collapse navbar-collapse show" id="collapsibleSideNavbar">
    <p></p>
    <div class="list-group">
        <a href="#" target="_top" class="list-group-item list-group-item-action">C / C++</a>
        <a href="#" target="_top" class="list-group-item list-group-item-action">Python</a>
        <a href="#" target="_top" class="list-group-item list-group-item-action">Java</a>
    </div>
</div>