<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>发布帖子 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./view/public/css/bootstrap.min.css">
    <script src="./view/public/js/jquery.min.js"></script>
    <script src="./view/public/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- 顶部导航栏 -->
    <?php include "./controller/public/header.php"; ?>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.php">首页</a></li>
                    <li class="breadcrumb-item active"><a href="#">发布帖子</a></li>
                </ol>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">发布帖子</font>
                        </h4>
                    </div>
                    <div class="card-body">
                        <!-- 输入框 -->
                        <form action="./controller/post/create.php" method="POST">
                            <div class="input-group mb-3 input-group-lg">
                                <input type="text" placeholder="请输入标题..." class="form-control" name="post_title">
                            </div>

                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="请输入正文..." rows="10"
                                    name="post_content"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                
                                <select class="custom-select d-block" name="category_id" required="">
                                    <option value="">选择一个分类...</option>
                                    <?php $type=2; include './controller/category/list.php'; ?>
                                    <!-- <option>C++</option>
                                    <option>Java</option>
                                    <option>PHP</option>
                                    <option>Python</option> -->
                                </select>
                                <button class="btn btn-info mb-3" type="submit">发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>