<!-- 



 -->
<!-- 本文件仅用于开发，如需部署按照下方说明分割 -->
<!-- 



 -->
<!-- view-head.html -->
<!-- 



 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>帖子详情 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./view/assets/css/bootstrap.min.css">
    <script src="./view/assets/js/jquery.min.js"></script>
    <script src="./view/assets/js/bootstrap.min.js"></script>
    <script>
        // dirty hack
        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
        var Request = undefined;
        Request = GetRequest();
        var id = Request["id"]; 
    </script>
</head>

<body>
    <!-- 顶部导航栏 -->
    <div id="headnav"></div>
    <script>
        $("#headnav").load("./view/public/headnav.html");
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.php">首页</a></li>
                    <li class="breadcrumb-item"><a href="posts.php">看帖</a></li>
                    <li class="breadcrumb-item active"><a href="view.php">帖子详情</a></li>
                </ol>
                <div class="card">
                    <!-- 帖子标题 -->
                    <div class="card-header">
                        <h4>
                            <font color="green">帖子详情</font>
                        </h4>
                    </div>
                    <!-- 帖子正文 -->
                    <div class="card-body">
                        <!-- 



 -->
                        <!-- view-mid.html -->
                        <!-- 



 -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">评论</font>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <!-- 



 -->
                            <!-- view-foot.html -->
                            <!-- 



 -->
                        </ul>
                        <hr class="mb-4">
                        <script>document.write("<form class=\"form-inline\" action=\"./controller/commentAction.php?id=" + id + "\" method=\"POST\">");</script>
                        <input type="text" name="content" class="col-md-11 form-control" placeholder="想不想说两句...">
                        <button class="col-md-1 btn btn-primary btn-info" type="submit">发布</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>