<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./view/public/css/bootstrap.min.css">
    <script src="./view/public/js/jquery.min.js"></script>
    <script src="./view/public/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- 顶部导航栏 -->
    <div id="headnav"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <!-- <li data-target="#demo" data-slide-to="2"></li> -->
                    </ul>

                    <!-- 轮播图片 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://news.scnu.edu.cn/media/image/2020/01/20200124324493.jpg" width=100%>
                        </div>
                        <div class="carousel-item">
                            <img src="https://news.scnu.edu.cn/media/image/2020/01/2020013063118f.jpg" width=100%>
                        </div>
                        <!-- <div class="carousel-item">
                        <img src="#" width=100%>
                    </div> -->
                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
                <p></p>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">全部分类</font>
                        </h4>
                    </div>
                    <!-- 板块展示 -->
                    <div class="card-body">
                        <div class="list-group">
                            <!-- TODO：板块分类 -->
                            <!-- <a href="posts.php" class="list-group-item list-group-item-action">
                                <h5>C++ 技术交流</h5><small>从入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土</small>
                            </a><a href="posts.php" class="list-group-item list-group-item-action">
                                <h5>Java 技术交流</h5><small>从入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土</small>
                            </a>
                            <a href="posts.php" class="list-group-item list-group-item-action">
                                <h5>PHP 技术交流</h5><small>从入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土</small>
                            </a>
                            <a href="posts.php" class="list-group-item list-group-item-action">
                                <h5>Python 技术交流</h5><small>从入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土到入门到入土</small>
                            </a> -->
                            <a href="index.php?action=list&page=1" class="list-group-item list-group-item-action">
                                <h5>所有帖子</h5><small>无描述</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $("#headnav").load("./view/public/headnav.html");
</script>

</html>