<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- 顶部导航栏 -->
    <div id="headnav"></div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <font color="green">首页</font>
                    </h4>
                </div>
                <div class="card-body">

                </div>

            </div>
        </div>
    </div>
    </div>
</body>

<script>
    $("#headnav").load("./view/public/headnav.html");
</script>

</html>