<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

</head>

<!--By 容加林 20192005144-->

<body>
    <div id="headnav"></div>
    <div class="row">
        <div class="col-md-1 offset-md-1">
            <div id="sidenav"></div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <font color="green">用户登录</font>
                    </h4>
                </div>
                <div class="card-body">
                    <form action="../model/validate.php" method="GET">
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">用户账户</span>
                            </div>
                            <input type="text" minlength=6 class="form-control" placeholder="请输入用户名"
                                name="user_name" required="">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">用户密码</span>
                            </div>
                            <input type="password" minlength=8 class="form-control" placeholder="请输入您的密码"
                                required="" name="user_password">
                        </div>

                        <hr class="mb-4">

                        <button type="submit" class="btn btn-block btn-success">
                            <font color="white"></font>登录</font>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>

<script>
    $("#headnav").load("public/headnav.html");
    $("#sidenav").load("public/sidenav.html");
</script>

</html>