<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>注册 - SoCoding Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- 顶部导航栏 -->
    <div id="headnav"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.php">首页</a></li>
                    <li class="breadcrumb-item active"><a href="register.php">用户注册</a></li>
                </ol>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">用户注册</font>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <span class="d-none d-md-block"><img
                                            src="https://jwxt.scnu.edu.cn/zftal-ui-v5-1.0.2/assets/images/login_bg_pic.jpg"
                                            class="rounded" width=100%></span>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    <h2 class="text-center mb-4">
                                        <font color="green">欢迎注册</font>
                                    </h2>
                                    <form action="./controller/regAction.php" method="POST">
                                        <input type="text" name="account" class="form-control mb-4" placeholder="请输入帐户"
                                            required>
                                        <input type="text" name="nickname" class="form-control mb-4" placeholder="请输入昵称"
                                            required>
                                        <input type="password" name="psword" class="form-control mb-4"
                                            placeholder="请输入密码" required>
                                        <!-- TODO：校验密码 -->
                                        <!-- <input type="password" name="user_password2" class="form-control mb-4"
                                            placeholder="请再次输入密码" required> -->
                                        <hr class="mb-4">
                                        <button class="btn btn-info btn-block mb-3" type="submit">注册</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    $("#headnav").load("./view/public/headnav.html");
</script>

</html>
