<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- jQuery-->
    <script src="../assets/js/jquery.js"></script>
    <!--JavaScript 插件-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <title>注册界面</title>
</head>

<body>

    <div class="row justify-content-center" style="height: 500px">
        <div class="align-self-center">
            <form method="post" action="../model/register_deal.php" class="form-horizontal" role="form">
                <label class="control-label" for="user_name">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name="user_name" placeholder="请输入用户名" />
                </div>
                <label class="control-label" for="user_password1">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="user_password1" placeholder="请输入密码" />
                </div>
                <label class="control-label" for="user_password2">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" name="user_password2" placeholder="请确保两次密码输入一致" />
                </div>
                <br />
                <button class="btn btn-success" type="submit">注册</button>
            </form>
        </div>
    </div>
</body>

</html>
