                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">评论</font>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">网友 1：test</li>
                            <li class="list-group-item">网友 2：test</li>
                            <li class="list-group-item">网友 3：test</li>
                        </ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="想不想说两句...">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-info" type="button">发布</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>