                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <font color="green">评论</font>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">网友 1：test</li>
                            <li class="list-group-item">网友 2：test</li>
                            <li class="list-group-item">网友 3：test</li>
                        </ul>
                        <hr class="mb-4">
                        <script>document.write("<form class=\"form-inline\" action=\"./controller/commentAction.php?id=" + id + "\" method=\"POST\">");</script>
                            <input type="text" name="content" class="col-md-11 form-control" placeholder="想不想说两句...">
                            <button class="col-md-1 btn btn-primary btn-info" type="submit">发布</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>